<section class="pn-wt-section pn-wt-maps">
  <div class="pn-eyebrow-label"><%= t("walkthrough.ui.map_eyebrow") %></div>
  <% loc.area_maps.each do |area| %>
    <figure class="pn-wt-map" data-controller="map-markers">
      <% if area.floor? %>
        <figcaption class="pn-wt-map__floor"><%= area.floor %></figcaption>
      <% end %>
      <div class="pn-wt-map__frame">
        <%= r2_image_tag area.image, alt: "", class: "pn-wt-map__img", loading: "lazy" %>
        <% area.markers.each do |mk| %>
          <span class="pn-wt-map__marker pn-wt-map__marker--<%= mk.kind %>"
                data-map-markers-target="marker" data-x="<%= mk.x_pct %>" data-y="<%= mk.y_pct %>">
            <span class="pn-wt-map__dot" aria-hidden="true"></span>
            <span class="pn-wt-map__label"><%= mk.label %></span>
          </span>
        <% end %>
      </div>
    </figure>
  <% end %>
</section>
