<div class="pn-wt-gym-tr">
  <div class="pn-wt-gym-tr__head">
    <div>
      <div class="pn-wt-gym-tr__role"><%= t("walkthrough.ui.gym_trainer") %></div>
      <div class="pn-wt-gym-tr__cls"><%= trainer.cls %></div>
    </div>
    <div class="pn-wt-gym-tr__reward">₽<%= number_with_delimiter(trainer.reward) %></div>
  </div>
  <div class="pn-wt-gym-tr__shots">
    <div class="pn-wt-shot pn-wt-shot--gymvs">
      <%= image_tag "walkthrough/yellow/trainers/#{trainer.sprite}.png", alt: "", class: "pn-wt-shot__img pn-wt-shot__img--vs" %>
      <span class="pn-wt-shot__label pn-wt-shot__label--gym"><%= t("walkthrough.ui.vs") %></span>
    </div>
    <div class="pn-wt-shot pn-wt-shot--gymwhere">
      <div class="pn-wt-shot__ph pn-wt-shot__ph--gym"><%= t("walkthrough.ui.shot_placeholder") %></div>
      <span class="pn-wt-shot__label pn-wt-shot__label--gym-where"><%= t("walkthrough.ui.where") %></span>
    </div>
  </div>
  <div class="pn-wt-gym__mons">
    <% trainer.team.each do |member| %>
      <div class="pn-wt-gym__mon">
        <span class="pn-wt-gym__mon-sprite"><%= image_tag "pokemon/#{member[:dex]}.png", alt: "" %></span>
        <div class="pn-wt-gym__mon-name"><%= member[:name] %></div>
        <div class="pn-wt-gym__mon-lvl"><%= t("walkthrough.ui.lv", n: member[:lvl]) %></div>
      </div>
    <% end %>
  </div>
</div>
