<div class="pn-wt-step">
  <div class="pn-wt-step__rail">
    <div class="pn-wt-step__line pn-wt-step__line--top"></div>
    <div class="pn-wt-step__node"><%= step.n %></div>
    <div class="pn-wt-step__line pn-wt-step__line--bot"></div>
  </div>
  <div class="pn-wt-step__card">
    <div class="pn-wt-step__body">
      <div class="pn-wt-step__main">
        <div class="pn-wt-step__title"><%= t(step.title_key) %></div>
        <div class="pn-wt-step__text"><%= t(step.text_key) %></div>

        <% if step.items? %>
          <div class="pn-wt-items">
            <% step.items.each do |item| %>
              <div class="pn-wt-item">
                <span class="pn-wt-item__chip"><%= r2_image_tag "walkthrough/items/#{item.sprite}.png", alt: "", class: "pn-wt-item__icon" %></span>
                <div>
                  <div>
                    <span class="pn-wt-item__name"><%= item.name %></span>
                    <span class="pn-wt-item__kind"><%= t("walkthrough.ui.item_kind") %></span>
                  </div>
                  <div class="pn-wt-item__where"><%= t(item.where_key) %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if step.hidden? %>
          <div class="pn-wt-hidden-grid">
            <% step.hidden.each do |hidden| %>
              <%= render "hidden_item", hidden: hidden %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if step.shot? %>
        <div class="pn-wt-shot__side"><%= render "shot", shot: step.shot %></div>
      <% end %>
    </div>
  </div>
</div>
