<div class="pn-wt-trainer">
  <div class="pn-wt-trainer__head">
    <div>
      <% if trainer.name %>
        <div class="pn-wt-trainer__cls"><%= trainer.cls %></div>
        <div class="pn-wt-trainer__name"><%= trainer.name %></div>
      <% else %>
        <div class="pn-wt-trainer__name"><%= trainer.cls %></div>
      <% end %>
    </div>
    <div class="pn-wt-trainer__reward">₽<%= number_with_delimiter(trainer.reward) %></div>
  </div>
  <div class="pn-wt-trainer__shots">
    <div class="pn-wt-shot pn-wt-shot--vs">
      <%= image_tag "walkthrough/trainers/#{trainer.sprite}.png", alt: "", class: "pn-wt-shot__img" %>
      <span class="pn-wt-shot__label"><%= t("walkthrough.ui.vs") %></span>
    </div>
    <div class="pn-wt-shot pn-wt-shot--where">
      <div class="pn-wt-shot__ph"><%= t("walkthrough.ui.shot_placeholder") %></div>
      <span class="pn-wt-shot__label pn-wt-shot__label--where"><%= t("walkthrough.ui.where") %></span>
    </div>
  </div>
  <div class="pn-wt-trainer__team">
    <% trainer.team.each do |member| %>
      <div class="pn-wt-team-mon">
        <span class="pn-wt-team-mon__sprite"><%= image_tag "pokemon/#{member[:dex]}.png", alt: "" %></span>
        <div>
          <div class="pn-wt-team-mon__name"><%= member[:name] %></div>
          <div class="pn-wt-team-mon__lvl"><%= t("walkthrough.ui.lv", n: member[:lvl]) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
