<footer class="pn-footer">
  <div class="pn-footer__bar">
    <div class="pn-footer__brand">
      <span class="pn-footer__logo"><%= image_tag "porygon-pixel.png", alt: "" %></span>
      <span class="pn-footer__wordmark">PORYNET</span>
    </div>
    <div class="pn-footer__links">
      <a href="#features" class="pn-footer__link"><%= t("pages.home.nav.features") %></a>
      <a href="#oak" class="pn-footer__link"><%= t("pages.home.nav.oak") %></a>
      <a href="#tracker" class="pn-footer__link"><%= t("pages.home.nav.tracker") %></a>
      <a href="#" class="pn-footer__link"><%= t("pages.home.nav.github") %></a>
    </div>
  </div>
  <div class="pn-footer__legal"><%= t("pages.home.footer.legal") %></div>
</footer>
