<section class="pn-roadmap">
  <div class="pn-eyebrow-label"><%= t("pages.home.roadmap.eyebrow") %></div>
  <h2 class="pn-h2"><%= t("pages.home.roadmap.h2") %></h2>
  <div class="pn-gens">
    <% @gens.each do |gen| %>
      <div class="pn-gen <%= "pn-gen--live" if gen.live %>">
        <div class="pn-gen__num">GEN <%= gen.num %></div>
        <div class="pn-gen__region"><%= gen.region %></div>
        <div class="pn-gen__status"><%= gen.live ? t("pages.home.roadmap.status_live") : t("pages.home.roadmap.status_soon") %></div>
      </div>
    <% end %>
  </div>
</section>
