<section id="tracker" class="pn-tracker">
  <div class="pn-tracker__grid">
    <div>
      <div class="pn-eyebrow-label"><%= t("pages.home.tracker.eyebrow") %></div>
      <h2 class="pn-h2"><%= t("pages.home.tracker.h2") %></h2>
      <p class="pn-tracker__lead"><%= t("pages.home.tracker.lead") %></p>
      <div class="pn-filters">
        <% t("pages.home.tracker.filters").each do |filter| %>
          <span class="pn-filter"><%= filter %></span>
        <% end %>
      </div>
    </div>

    <div class="pn-box">
      <div class="pn-box__head">
        <span class="pn-box__nav"><span class="pn-box__arrow">◀</span> BOX 01 · KANTO <span class="pn-box__arrow">▶</span></span>
        <span class="pn-box__dots">
          <span class="pn-box__dot pn-box__dot--a"></span>
          <span class="pn-box__dot pn-box__dot--b"></span>
          <span class="pn-box__dot pn-box__dot--c"></span>
        </span>
      </div>
      <div class="pn-box__body">
        <div class="pn-box__grid">
          <% @box_slots.each do |slot| %>
            <%= render "box_slot", slot: slot %>
          <% end %>
        </div>
        <div class="pn-box__meter">
          <span class="pn-box__meter-label"><span class="pn-box__meter-swatch"></span> <%= t("pages.home.hero.caught") %></span>
          <span>18 / 20</span>
        </div>
        <div class="pn-progress"><div class="pn-progress__fill pn-progress__fill--90"></div></div>
      </div>
    </div>
  </div>
</section>
