<% content_for :title, t("pages.home.meta.title") %>
<% content_for :head do %>
  <%= stylesheet_link_tag "pages/landing", "data-turbo-track": "reload" %>
<% end %>

<div class="porynet" data-play="running">
  <div class="pn-crt" aria-hidden="true"></div>

  <%= render "header" %>
  <%= render "hero" %>
  <%= render "features" %>
  <%= render "oak" %>
  <%= render "tracker" %>
  <%= render "porypc" %>
  <%= render "roadmap" %>
  <%= render "footer" %>
</div>
